.hidden {
  display: none;
}

.task-form-container {
  margin: 20px;
}

.react-datepicker-wrapper {
  display: block !important;
}

hr {
  margin-bottom: 40px;
}

/* todo list button margin */

.todo-container .btn-outline-primary {
  margin-right: 5px;
}

.navbar-nav .btn-success {
  margin-right: 15px;
}
